{% extends 'homestay/base.html' %}


{% block title %}Booking Confirmed - Homestay{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <!-- Card untuk informasi booking -->
    <div class="col-md-8">
      <div class="card shadow-lg border-light rounded">
        <div class="card-header text-center bg-primary text-white">
          <h3>Booking Confirmed</h3>
        </div>
        <div class="card-body">
          <div class="text-center">
            <h5 class="card-title">Thank you for booking with us!</h5>
            <p class="card-text">Here are your booking details:</p>
          </div>
          <ul class="list-unstyled">
            <li><strong>Room:</strong> {{ booking.room.name }}</li>
            <li><strong>Check-in:</strong> {{ booking.check_in|date:"F j, Y" }}</li>
            <li><strong>Check-out:</strong> {{ booking.check_out|date:"F j, Y" }}</li>
            <li><strong>Total Price:</strong> Rp{{ booking.total_price }}</li>
          </ul>
          <div class="text-center">
            <a href="{% url 'home' %}" class="btn btn-lg btn-success mt-3">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
